@media (max-width: 1024px) {
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 200px;
        width: 170px;
        margin: 22px;
    }
    #title_end {
        font-size: 80pt;
    }
    #classement {
        font-size: 60pt;
    }

    #retry {
        font-size: 60pt;
    }

}


@media (max-width: 768px) {
    #coin {
        display: none;
    }
    #title {
        font-size: 60pt;
        margin-left: 0%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #enter {
        font-size: 20pt;
    }
    #place_name {
        font-size: 30pt;
    }
    #interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #name_bloc {
        font-size: 26pt;
        margin: 0px;
        width: 90%;
        position: absolute;
        padding-left: 30px;
        top: 214px;
    }
    #score_bloc {
        font-size: 26pt;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-left: 10px;
    }
    #timer_bloc {
        font-size: 26pt;
        text-align: center;
        width: 100%;
        margin: 0;
        height: 55px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #timer {
        font-size: 16pt;
    }
    #stats {
        flex-direction: row;
        width: 100%;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 150px;
        width: 110px;
        margin: 15px;
    }
    #title_end {
        font-size: 50pt;
    }
    #classement {
        font-size: 30pt;
    }

    #retry {
        font-size: 30pt;
    }
}



@media (max-width: 414px) {
    #coin {
        display: none;
    }
    #title {
        font-size: 60pt;
        margin-left: 0%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #enter {
        font-size: 20pt;
    }
    #place_name {
        font-size: 30pt;
    }
    #interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #name_bloc {
        font-size: 20pt;
        margin: 0px;
        width: 90%;
        position: absolute;
        padding-left: 30px;
        top: 222px;
    }
    #score_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-left: 10px;
    }
    #timer_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        height: 44px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #timer {
        font-size: 16pt;
    }
    #stats {
        flex-direction: row;
        width: 100%;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 60px;
        width: 40px;
        margin: 1px;
    }
    #title_end {
        font-size: 30pt;
    }
    #classement {
        font-size: 20pt;
    }

    #retry {
        font-size: 20pt;
    }

}

@media (max-width: 375px) {
    #coin {
        display: none;
    }
    #title {
        font-size: 60pt;
        margin-left: 0%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #enter {
        font-size: 20pt;
    }
    #place_name {
        font-size: 30pt;
    }
    #interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #name_bloc {
        font-size: 20pt;
        margin: 0px;
        width: 90%;
        position: absolute;
        padding-left: 30px;
        top: 222px;
    }
    #score_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-left: 10px;
    }
    #timer_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        height: 44px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #timer {
        font-size: 16pt;
    }
    #stats {
        flex-direction: row;
        width: 100%;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 60px;
        width: 40px;
        margin: 1px;
    }
    #title_end {
        font-size: 30pt;
    }
    #classement {
        font-size: 20pt;
    }

    #retry {
        font-size: 20pt;
    }


}

@media (max-width: 360px) {
    #coin {
        display: none;
    }
    #title {
        font-size: 60pt;
        margin-left: 0%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #enter {
        font-size: 20pt;
    }
    #place_name {
        font-size: 30pt;
    }
    #interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #name_bloc {
        font-size: 20pt;
        margin: 0px;
        width: 90%;
        position: absolute;
        padding-left: 30px;
        top: 222px;
    }
    #score_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-left: 10px;
    }
    #timer_bloc {
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin: 0;
        height: 44px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #timer {
        font-size: 16pt;
    }
    #stats {
        flex-direction: row;
        width: 100%;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 60px;
        width: 40px;
        margin: 1px;
    }

}

@media (max-width: 321px) {

    #score_bloc {
        font-size: 14pt;
        padding-left: 3px;
    }
    #timer_bloc {
        font-size: 14pt;
        padding-left: 3px;
    }
    #place_name {
        font-size: 24pt;
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
        height: 4px;
        width: 2px;
        margin: 1px;
    }
}



