@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

*{
    font-family: 'VT323', monospace;
}

body {
    background-image: url("pics/safari.jpg");
    animation: defile 20s linear infinite;"
}
@keyframes defile {
    0% { background-position-y:   0; }
    100% { background-position-y: 100vw; }
}

#cache {
    background: rgba(0, 0, 0, 0);
    min-height: 100vh;
    position: absolute;
    width: 100%;
    display: none;

}

#interface {
    display: flex;
    align-items: center;
    justify-content: center;
}

#enter {
    background: black;
    border: 5px solid #0dc2b3;
    border-radius: 3px;
    color: #0dc2b3;
    font-family: 'VT323', monospace;
}
#place_name {
    background: black;
    border: 5px solid #0dc2b3;
    border-radius: 3px;
    color: #0dc2b3;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
}

.container-fluid {
    text-align: center;
}

#game {
    margin-top: 50px;
    display: none;
    align-items: center;
    justify-content: center;
}

#title {
    border: 2px solid white;
    font-size: 60pt;
    color: white;
    font-family: 'VT323', monospace;
    background-image: url("pics/wpp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 30%;
    padding-left: 15px;
    padding-right: 15px;

}

#coin {
    font-family: 'VT323', monospace;
    color: white;
    animation: coin 1s infinite;
    font-size: 30pt;
    display: flex;
    justify-content: center;
}

@keyframes coin{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
    cursor: pointer;
    padding: 40px;
    border: 2px solid #0dc2b3;
    border-radius: 10px;
    height: 100px;
    width: 80px;
    margin: 10px;
}

#card1, #card2, #card3, #card4 {
    background: black;
    background-image: url("pics/unknow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#card5, #card6, #card7, #card8 {
    background: black;
    background-image: url("pics/unknow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#card9, #card10, #card11, #card12 {
    background: black;
    background-image: url("pics/unknow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#card13, #card14, #card15, #card16 {
    background: black;
    background-image: url("pics/unknow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#name_bloc {
    display: none;
    border: 2px solid #f90059;
    border-radius: 10px;
    font-size: 43pt;
    text-align: center;
    font-family: 'VT323', monospace;
    color: white;
    background: black;
    align-items: center;
    font-weight: bold;
    margin: 20px;
    width: 30%;
}
#name {
    font-weight: initial;
    color: #f90059;
    letter-spacing: 3px;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    margin-left: 10px;
}
#score_bloc {
    display: none;
    border: 2px solid #f90059;
    border-radius: 10px;
    font-size: 20pt;
    text-align: center;
    color: white;
    background: black;
    align-items: center;
    font-weight: bold;
    width: 60%;
}
#timer_bloc {
    display: none;
    border: 2px solid #f90059;
    border-radius: 10px;
    font-size: 20pt;
    text-align: center;
    color: white;
    background: black;
    align-items: center;
    font-weight: bold;
    width: 60%;
}

#begin {
    border: 3px solid black;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    margin-top: 100px;
    margin-left: 0;
    text-align: center;
    padding: 20px;
    background: #f90059;
}

#score {
    font-weight: initial;
    color: #dcdcdc;
    letter-spacing: 3px;
    margin-left: 10px;
    font-size: 20pt;
}

#timer {
    font-weight: initial;
    color: #dcdcdc;
    letter-spacing: 3px;
    margin-left: 10px;
    font-size: 20pt;
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding-top: 30px;
    width: 30%;
}

#minutes {
    display: inline-block;
    padding-top: 16px;
}
#seconds {
    display: inline-block;
    padding-top: 16px;
}


#end_zone{
    margin-top: 20px;
    display: none;
    color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: #f90059;
    border: 5px solid #0dc2b3;
    border-radius: 10px;
}

#classement {
    font-size: 20pt;
    color: white;
    padding: 30px;
    background: black;
}

#retry {
    background: #0dc2b3;
    color: white;
    font-size: 20pt;
}

#title_end {
    color: white;
    font-size: 80pt
}


